<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加餐饮页面-后台管理系统</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/add.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="place"> <span>位置：</span>
  <ul class="placeul">
    <li><a href="main.html">首页</a></li>
    <li><a href="#">添加餐饮</a></li>
  </ul>
</div>
<div class="formbody">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
    <tr>
      <td><label>美食缩略图<b>*</b> </label></td>
      <td><input name="" type="file" multiple="multiple" /></td>
    </tr>
    <tr>
      <td><label>美食名称<b>*</b> </label></td>
      <td><input name="" type="text" class="dfinput" value="请填写美食名称" style="width:500px;" /></td>
    </tr>
    <tr>
      <td><label>美食类别<b>*</b> </label></td>
      <td><select class="select3">
        <option>-选择美食类别-</option>
        <option>自助餐</option>
        <option>火锅</option>
        <option>烤肉</option>
        <option>西餐</option>
        <option>川菜</option>
        <option>日本料理</option>
        <option>韩国料理</option>
      </select>
      <select class="select3">
        <option>-选择子类别-</option>
        <option>法式西餐</option>
        <option>英式西餐</option>
        <option>意式大餐</option>
        <option>美式菜肴</option>
        <option>俄式大餐</option>
      </select>
      </td>
    </tr>
    <tr>
      <td><label>门店价<b>*</b> </label></td>
      <td><input name="" type="text" class="dfinput" style="width:100px;" />
        元</td>
    </tr>
    <tr>
      <td><label>团购价<b>*</b> </label></td>
      <td><input name="" type="text" class="dfinput" style="width:100px;" /></td>
    </tr>
    <tr>
      <td><label>发布日期<b>*</b> </label></td>
      <td><input name="" type="text" class="dfinput" style="width:100px;" /></td>
    </tr>
    <tr>
      <td><label>是否审核<b>*</b> </label></td>
      <td><select class="select3">
        <option>已审核</option>
        <option>未审核</option>
      </select></td>
    </tr>
    <tr>
      <td><label>美食描述<b>*</b> </label></td>
      <td><textarea name="content"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><input name="" type="button" class="btn" value="马上发布" /></td>
    </tr>
  </table>
</div>
</body>
</html>
