<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>内容检索</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<ul class="seachform">
  <li>
    <div class="vocation">
      <select class="select3">
        <option>美食类别</option>
        <option>自助餐</option>
        <option>火锅</option>
        <option>烤肉</option>
        <option>西餐</option>
        <option>川菜</option>
        <option>日本料理</option>
        <option>韩国料理</option>
      </select>
    </div>
  </li>
  <li>
    <input type="text" class="scinput" value="请输入商品名称"/>
  </li>
  <li>
    <input name="searchBtn" type="button" class="scbtn" value="查询"/>
  </li>
</ul>
</body>
</html>