<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>漫步时尚广场后台管理系统</title>
  <script type="text/javascript">
		window.onload=function(){
			var flag=0;//保存用户状态（用户未登录）
			do{
				//使用数组保存用户名和密码
				var array=[["admin","admin"],["itshixun","itshixun"],
							["guoqy","123"]];
				var userName = prompt("请输入用户名：");
				var userPwd = prompt("请输入密码：");
				for (var i=0; i<array.length; i++) {
					if (array[i][0]==userName&&array[i][1]==userPwd) {
						alert("用户登陆成功，欢迎<"+userName+">使用本系统!");
						//获取topFrame框架对应的页面中的class属性为”user”的元素，
						//然后再从中筛选<span>标签，最后修改标签中的内容
						topFrame.document.getElementsByClassName("user")[0]
						  .getElementsByTagName("span")[0].innerHTML=userName;
						flag=1;//用户登录成功
						break;
					}
					if(userName==null&&userPwd==null){
						flag=2;//用户取消登录
					}
				}
				if(flag==0){
					alert("用户名或密码错误，请重新登录。");
				}
			}while(flag==0);
		}
	</script>
 </head>
 <frameset rows="88,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="top.html" name="topFrame" scrolling="no" noresize="noresize" 
        id="topFrame" title="topFrame" />
    <frameset cols="187,*" frameborder="no" border="0" framespacing="0">
      <frame src="left.html" name="leftFrame" scrolling="no" noresize="noresize"
         id="leftFrame" title="leftFrame" />
      <frame src="shoplist.html" name="rightFrame" id="rightFrame"
         title="rightFrame" />
    </frameset>
 </frameset>
 <noframes>
    <body>您的浏览器不支持框架集 </body>
 </noframes>
</html>
