<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>商品检索</title>
<link href="css/layout.css" rel="stylesheet" type="text/css" />
<link href="css/list.css" rel="stylesheet" type="text/css" />
</head>
<body>
<ul class="seachform">
  <li>
    <div class="vocation">
      <select class="select3">
        <option>商品类别</option>
        <option>女装</option>
        <option>男装</option>
        <option>童装</option>
        <option>运动</option>
      </select>
    </div>
  </li>
  <li>
    <input type="text" class="scinput" value="请输入商品名称"/>
  </li>
  <li>
    <input name="searchBtn" type="button" class="scbtn" value="查询"/>
  </li>
</ul>
</body>
</html>
